html, body {
    margin: 0;
    padding: 0;
    font-family: serif;
}

* {
    box-sizing: border-box;
}

.flex-container {
    position: fixed;
    background: #000b2a;
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: relative;
    display: flex;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    padding: 30px;
}
.menu a:hover {
    background-color: #00226c;
}

.banner {
    width: 100%;
    height: 535px;
    margin-top: 90px;
}

.inovacoes h1 {
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color: #000b2a;
}
.inovacoes h3 {
    font-size: 25px;
    color: #00226c;
    text-align: justify;
    margin: 100px;
}
.lembrete {
    margin-top: 35px;
    text-align: center;
}
.lembrete p{
    color: #00226c;
    font-size: 25px;
    width: 50%;
    margin: 0 auto;
    text-align: justify;
}
.lembrete a {
    text-decoration: none;
    background: #00CCCC;
    border-radius: 20%;
    color:#000b2a;
    font-size: 25px;
    font-weight: bold;
}
.card {
    margin: 0 auto;
    padding: 20px;
    width: 60%;
    box-shadow: 0 4px 8px 0 gray;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 black;
}

.card img{
    width: 100%;
}

.card-container {
    padding: 2px 16px;
}

.card-container p {
    font-size: 20px;
}

.noticia {
    background-color: #00CCCC;
}
.news {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    color:  #000b2a;
}
.news h1 {
    font-size: 50px;
    text-align: center;
}
.news h2 {
    font-size: 30px;
    text-align: center;
}
.news h3 {
    text-align: center;
}

.news a {
    text-decoration: none;
    background: #000b2a;
    border-radius: 20%;
    color: #00CCCC;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

.news p {
    font-size: 20px;
}

.about h1 {
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color: #000b2a;
}
.about h3, ul li {
    font-size: 25px;
    color: #00226c;
    text-align: justify;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

@media all and (max-width: 768px) {
    .flex-container {
        width: 100%;
        height: 220px;
        text-align: center;
        position: fixed;
    }
    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .menu a {
        padding: 10px;
        font-size: 25px;
    }
    .banner {
        display: none;
    }
    .inovacoes h1 {
        padding: 30px;
        text-align: center;
        font-size: 40px;
        color: #000b2a;
    }
    .inovacoes h3 {
        font-size: 20px;
        color: #00226c;
        margin: 0 auto;
        text-align: justify;
        padding: 30px;
    }
    .lembrete p{
        color: #00226c;
        font-size: 20px;
        width: 80%;
        margin: 0 auto;
        text-align: justify;
    }
    .card {
        padding: 0px 10px;
        width: 90%;
    }
    
    .news {
        width: 90%;
    }
    .about h1 {
        font-size: 40px;
    }
    .about h3, ul li {
        font-size: 25px;
        color: #00226c;
        text-align: justify;
        width: 90%;
        margin: 0 auto;
        padding: 20px;
    }
}